footer {
  padding-top: 120px;
  @include diviBreakpoint(768) {
    padding-top: 40px;
  }
  @include diviBreakpoint(480) {
    padding-left: 20px;
  }
  .et_builder_inner_content {
    .et_pb_section {
      padding-bottom: 20px;
      .et_pb_row {
        .et_pb_column {
          svg {
            polygon,
            path,
            rect {
              fill: $wink-black;
            }
          }
        }
      }
      .et_pb_row_0_tb_footer {
        width: 90%;
        max-width: 90%;
        @include diviBreakpoint(480) {
          width: 100%;
          max-width: 100%;
          padding-bottom: 0;
          padding-top: 0;
        }
        .et_pb_column {
          &.et_pb_column_1_tb_footer {
            width: 20%;
            img {
              width: 34vw;
            }
          }
          &.et_pb_column_2_tb_footer {
            width: 46%;
          }
          .et_pb_module {
            margin: 0;
            svg {
              height: 75px;
              width: 246px;
              margin-left: -22px;
              @include diviBreakpoint(480) {
                width: 120px;
                height: 34px;
                margin-left: -15px;
              }
            }
            .et_pb_image_wrap {
              padding-right: 60px;
              @include diviBreakpoint(980) {
                padding-right: 40px;
              }
              @include diviBreakpoint(768) {
                padding-right: 20px;
              }
              @include diviBreakpoint(480) {
                padding-right: 64px;
                bottom: -20px;
              }
            }
            .et_pb_text_inner {
              p {
                font-family: $wink-SwitzerLight;
                font-size: 4.2vw;
                @include diviBreakpoint(1405) {
                  font-size: 80px;
                }
                @include diviBreakpoint(1100) {
                  font-size: 60px;
                }
                @include diviBreakpoint(768) {
                  font-size: 7vw;
                }
                @include diviBreakpoint(480) {
                  font-size: 45px;
                }
                line-height: 1;
              }
            }
            @include winkButton();
            .et_pb_button_module_wrapper {
              a {
                padding-top: 0;
              }
            }
          }
        }
      }
      /* logo */
      .et_pb_row_1_tb_footer {
        padding-top: 80px;
        padding-bottom: 0;
        width: 80%;
        max-width: 80%;
        @include diviBreakpoint(980) {
          width: 90%;
          max-width: 90%;
        }
        @include diviBreakpoint(480) {
          width: 100%;
          max-width: 100%;
        }
        svg {
          width: 100px;
        }
      }
      /* addresses */
      .et_pb_row_2_tb_footer {
        width: 80%;
        max-width: 80%;
        @include diviBreakpoint(980) {
          width: 90%;
          max-width: 90%;
        }
        @include diviBreakpoint(480) {
          width: 100%;
          max-width: 100%;
          padding-top: 10px;
          padding-bottom: 10px;
        }
        .et_pb_column_4_tb_footer {
          @include diviBreakpoint(480) {
            margin-bottom: 55px;
          }

          .et_pb_module {
            float: left;
            margin-right: 3vw;
            @include diviBreakpoint(980) {
              margin-right: 14vw;
              &:last-child {
                margin-right: 0;
              }
            }
            @include diviBreakpoint(480) {
              margin-right: 0;
            }
            .et_pb_text_inner {
              p {
                font-size: 1.2vw;
                @include diviBreakpoint(980) {
                  font-size: 19px;
                }
                strong {
                  font-family: $wink-SwitzerBold;
                }
              }
            }

            &.et_pb_text_2_tb_footer {
              @include diviBreakpoint(480) {
                margin-left: 12px;
              }
              @include diviBreakpoint(350) {
                margin-left: 0;
                width: 100%;
              }
            }
            /* phone and email */
            &.et_pb_text_3_tb_footer {
              margin-top: 24px;
              @include diviBreakpoint(768) {
                margin-bottom: 30px;
              }
              @include diviBreakpoint(480) {
                margin-bottom: 0;
              }
              p {
                a {
                  &:first-child {
                    @include diviBreakpoint(480) {
                      top: -14px;
                      position: relative;
                    }
                  }
                }
              }
            }
          }
        }
        /* wink categories tags */
        .et_pb_column_5_tb_footer {
          .et_pb_module {
            @include diviBreakpoint(480) {
              width: 85%;
              max-width: 85%;
            }
            .et_pb_text_inner {
              @include winkTag();
              a {
                @include diviBreakpoint(980) {
                  margin-left: 0;
                  margin-right: 12px;
                }
              }
            }
          }
        }
      }

      /* copyright bottom footer */
      .et_pb_row_3_tb_footer {
        width: 80%;
        max-width: 80%;
        @include diviBreakpoint(980) {
          width: 90%;
          max-width: 90%;
        }
        padding-bottom: 0;

        @include diviBreakpoint(480) {
          width: 100%;
          max-width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .et_pb_column {
            &:first-child {
              order: 2;
            }
            &:last-child {
              order: 1;
            }
          }
        }

        p {
          font-size: 16px;
        }
      }
      /* wink copyright linke */
      .et_pb_column_6_tb_footer {
        @include diviBreakpoint(980) {
          width: initial;
          padding-right: 20px;
        }
        @include diviBreakpoint(480) {
          margin-top: 30px;
          p,
          a {
            color: $wink-grey;
          }
        }
      }
      /* wink social icons */
      .et_pb_column_7_tb_footer {
        padding-left: 0;
        @include diviBreakpoint(980) {
          width: initial;
          padding-left: 40px;
          ul {
            li {
              margin-right: 0;
            }
          }
        }
        @include diviBreakpoint(480) {
          padding-left: 0;
          ul {
            li {
              a {
                margin-right: 7vw;
              }
            }
          }
        }
      }
    }
  }
}

.dark-mode {
  footer {
    .et_builder_inner_content {
      .et_pb_section {
        .et_pb_row {
          .et_pb_column {
            svg {
              polygon,
              path,
              rect {
                fill: $wink-beige;
              }
            }
            .et_pb_module {
              .et_pb_button {
                color: $wink-beige;
              }
            }
          }
        }

        &.et_pb_section_0_tb_footer {
          @include diviBreakpoint(480) {
            padding-top: 0;
          }
        }

        /* wink categories tags */
        .et_pb_row_2_tb_footer {
          .et_pb_column {
            .et_pb_module {
              a {
                color: $wink-beige;
                border-color: $wink-beige !important;
                &:hover {
                  border-color: transparent !important;
                }
              }
            }
          }
        }

        .et_pb_row_3_tb_footer {
          .et_pb_column {
            .et_pb_module {
              a {
                color: $wink-beige;
              }
            }
          }
        }
        /* wink social icons */
        .et_pb_column_7_tb_footer {
          ul {
            li {
              a {
                border-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
