/* Global styles */

body {
  background-color: $wink-beige;
  color: $wink-black;
}
.et_pb_section {
  background-color: transparent;
}
#et-main-area {
  #main-content {
    //argin: 0 10%;
    .et_pb_section {
      .et_pb_row {
        width: 80%;
        max-width: 80%;
      }
    }
  }
}

/* a-tag href content */
a {
  color: $wink-black;
  border-bottom: 1px solid $wink-darkgreen;
  &:hover {
    border-bottom: 0;
  }
}
a[href^='tel:'],
a[href^='mailto:'] {
}

/* form input */
input[type='radio'],
input[type='checkbox'] {
  position: absolute;
  left: -999em;
}

input[type='checkbox'] + label {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
input[type='checkbox'] + label::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 0;
  margin-right: 10px;
}
input[type='checkbox']:checked + label::after {
  content: '';
  position: absolute;
  width: 1ex;
  height: 0.5ex;
  top: 10px;
  left: 9px;
  border: 3px solid $wink-green;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

/* text formatting */

/* headings  */

h1,
h2,
h3,
h4 {
  color: $wink-black;
}

h1 {
  font-size: 100px;
}
h2 {
  font-size: 65px;
}
.et_pb_column h4 {
  font-size: 25px;
}

/* paragraph */

p {
  font-size: 40px;
  font-weight: $wink-light;
  line-height: 1.4;
  @include diviBreakpoint(1405) {
    font-size: 20px;
  }
}

/* lists style */

.et_pb_text_inner {
  p ~ ul {
    padding-top: 30px;
  }
  ul {
    list-style-type: none !important;
    li {
      font-size: 30px;
      line-height: 1.4;
      font-weight: $wink-light;
      @include diviBreakpoint(1580) {
        font-size: 26px;
      }
      @include diviBreakpoint(1100) {
        font-size: 20px;
      }
      &:before {
        content: '-';
        position: absolute;
        margin-left: -11px;
      }
    }
  }
}

/* Table font-sizes */

table {
  tr {
    th {
      font-size: 45px;
      @include diviBreakpoint(1405) {
        font-size: 30px;
      }
    }
  }
}

/* divi accordion */
.et_pb_toggle {
  border: 0;
  padding-bottom: 35px;
  padding-right: 0;
  &.et_pb_toggle_open {
    background-color: transparent;
    .et_pb_toggle_title {
      color: $wink-black;
      &:after {
        font-family: ETmodules;
        font-weight: 400;
        content: '\4b';
        font-size: 40px;
        right: 0;
        position: absolute;
      }
    }
  }
  &.et_pb_toggle_close {
    background-color: transparent;
    .et_pb_toggle_title {
      color: $wink-black;
      &:before {
        color: $wink-black;
        font-size: 40px;
      }
    }
  }
}

/* wink divider row */
.wink-divider-row {
  width: 100% !important;
  max-width: 100% !important;
  .et_pb_divider {
    &::before {
      border-top-color: $wink-black;
      height: 2px;
      border-top-width: 2px;
    }
  }
}

/* dark mode switch */
.dark-mode-switch {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  z-index: 999;
  a {
    border: 0;
  }
}
.dark-mode {
  background-color: $wink-black !important;
  p,
  h1,
  h2,
  h3,
  h4 {
    color: $wink-beige !important;
  }
  a,
  #wink-mainmenu-toggle {
    color: $wink-beige !important;
    &:hover {
      color: $wink-yellow !important;
    }
  }

  svg {
    path {
      fill: $wink-beige !important;
    }
  }
}
