.logo-link {
  a {
    border: 0;
    svg {
      width: 80px;
    }
  }
}

#main-header {
  background-color: transparent;
  box-shadow: none;
  &.et-fixed-header {
    box-shadow: none !important;
  }
}

header {
  //mix-blend-mode: difference;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  background-color: transparent;
  #wink-mainnav {
    background-color: $wink-black;
  }
}

.logged-in {
  header {
    z-index: 1;
  }
}

.dark-mode {
  header {
    // background-color: $wink-black;
    .logo-link {
      a {
        border: 0;
      }
    }
    #wink-mainnav {
      background-color: $wink-black !important;
    }
  }
}
