/* Theme colors */
$wink-beige: #fff4e0;
$wink-black: #262625;
$wink-yellow: #fdc34f;
$wink-orange: #d57425;
$wink-violet: #8e8cb7;
$wink-moss-green: #90983f;

$wink-green: #1b3a08;
$wink-brown: #807450;
$wink-darkgreen: #283b16;
$wink-grey: #8e8e8e;

/* Font weight */
$wink-light: 300;
$wink-semibold: 400;
$wink-bold: 600;

/* font family */

$wink-CabinetGroteskExtrabold: CabinetGroteskExtrabold;
$wink-CabinetGroteskLight: CabinetGroteskLight;
$wink-SwitzerMedium: SwitzerMedium;
$wink-SwitzerRegular: SwitzerRegular;
$wink-SwitzerLight: SwitzerLight;
$wink-SwitzerBold: SwitzerBold;
