.et_pb_section.et_pb_section.wink-cta {
  background-color: $wink-black;
  padding-top: 269px;
  padding-bottom: 216px;
  @include diviBreakpoint(980) {
    padding-top: 180px;
    padding-bottom: 180px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .et_pb_row {
    width: 90% !important;
    max-width: 90% !important;
    .et_pb_column {
      .et_pb_text_inner {
        h2,
        p {
          color: $wink-beige;
        }
        h2 {
          padding-bottom: 30px;
        }
      }

      .et_pb_module {
        .et_pb_image_wrap {
          img {
            &[src$='.png'],
            &[src$='.svg'] {
              width: 120px;
            }
          }
        }
      }
    }
    .et_pb_button_module_wrapper {
      @include winkButton();
      a {
        color: $wink-beige !important;
      }
    }
  }
  @include diviBreakpoint(980) {
    + .wink-accordion-2-col {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.dark-mode {
  .et_pb_section {
    &.wink-cta {
      background-color: $wink-beige;

      .et_pb_row {
        .et_pb_column {
          .et_pb_text_inner {
            h2,
            p {
              color: $wink-black !important;
            }
          }
        }
        .et_pb_button_module_wrapper {
          a {
            color: $wink-black !important;
          }
        }
      }
    }
  }
}
