.et_pb_section.wink-teaser-title-text {
  padding-top: 160px;
  @include diviBreakpoint(768) {
    padding-top: 80px;
  }
  padding-right: inherit;
  @include diviBreakpoint(980) {
    margin-bottom: 40px;
  }
  .et_pb_row {
    &:first-child {
      @include diviBreakpoint(980) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    &:last-child {
      @include diviBreakpoint(980) {
        padding-top: 0;
      }
    }
  }
  .et_pb_row_1-4_3-4 {
    @include diviBreakpoint(980) {
      padding-bottom: 0;
    }
    .et_pb_column_1_4 {
      .et_pb_image {
        .et_pb_image_wrap {
          left: -80px;
          @include diviBreakpoint(980) {
            left: -10px;
          }
          img {
            //transform: rotate(8deg);
            @include diviBreakpoint(980) {
              width: 120px;
            }
            @include diviBreakpoint(980) {
              width: 120px;
            }
          }
        }
      }
    }
  }

  @include winkButton();
  .small-txt {
    text-align: left;
    margin-top: 40px;
    p {
      font-size: 16px;
    }
  }
}

.dark-mode {
  .et_pb_section {
    &.wink-teaser-title-text {
      .et_pb_button {
        color: $wink-beige;
      }
    }
  }
}
