.et_pb_section.wink-portfolio-detailview-images {
  background-color: $wink-beige;
  .et_pb_row {
    width: 90%;
    max-width: 90%;
    img {
      width: 100vw;
    }
    &.fullwidth {
      width: 100%;
      max-width: 100%;
      @include diviBreakpoint(980) {
        width: 90%;
        max-width: 90%;
      }
      img {
        width: 100vw;
      }
    }
  }
}

.dark-mode {
  .wink-portfolio-detailview-images {
    background-color: $wink-black;
  }
}
