#et-main-area {
  #main-content {
    .et_pb_section {
      &.wink-image-header {
        padding: 0;
        .et_pb_row {
          width: 100%;
          max-width: 100%;
          padding: 0;
          .et_pb_image {
            height: 100vh;
            @include diviBreakpoint(980) {
              background-size: cover;
            }
            @include diviBreakpoint(480) {
              background-size: contain;
              background-position: 0px 82px;
              height: 36vh;
            }
          }
        }
        + .wink-teaser-title-text {
          margin-top: 60px;
        }
      }
    }
  }
}
