#main-content {
  .wink-home-header {
    .et_pb_row {
      width: 80%;
      max-width: 80%;
      .et_pb_text_inner {
        a {
          font-size: 140px;
          border-bottom: 0;
          padding: 0px 30px 26px;
          border: 3px solid transparent;
          &:hover {
            border: 3px solid black;
            border-radius: 100px;
          }
        }
        strong {
          font-family: CabinetGroteskExtrabold;
        }
        img {
          width: auto;
          height: 131px;

          margin: 0 100px -28px;
        }
      }
    }
  }
}
