.wink-team-section {
  .et_pb_text {
    p {
      padding: 10px 0;
      font-size: 16px;
      strong {
        font-family: $wink-SwitzerBold;
        font-size: 20px;
      }
    }
  }
  .et_pb_icon {
    text-align: left;
    a {
      border: 0;
      .et-pb-icon {
        color: $wink-black;
        font-size: 28px;
      }
    }
  }
}

.dark-mode {
  .wink-team-section {
    .et_pb_icon {
      a {
        .et-pb-icon {
          color: $wink-beige;
        }
      }
    }
  }
}
