.wink-horizontal-projects-slider {
  background-color: $wink-beige;
  @include winkButton();
  .et_pb_row {
    padding: 0;
    h2 {
      padding-bottom: 30px;
      @include diviBreakpoint(980) {
        font-size: 35px;
      }
    }
    .et_pb_portfolio {
      margin-left: 5%;
      @include diviBreakpoint(980) {
        margin-left: 0;
      }
      text-align: center;
      overflow: hidden;
      .et_pb_ajax_pagination_container {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        cursor: pointer;
        &::-webkit-scrollbar {
          width: 20px;
        }
        &::-webkit-scrollbar-thumb {
          background: $wink-black;
          border-radius: 0;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
        }

        .et_pb_portfolio_item {
          scroll-snap-align: start;
          flex-shrink: 0;
          transform-origin: center center;
          transform: scale(1);
          transition: transform 0.5s;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          @include diviBreakpoint(980) {
            margin-bottom: 0;
          }
          h3 {
            font-family: $wink-CabinetGroteskExtrabold;
            display: none;
            text-transform: uppercase;
            color: white;
            letter-spacing: 3px;
          }
          a {
            border: 0;

            &:hover {
              &:before {
                display: block;
                content: attr(title);
                background-color: #262625;
                position: absolute;
                opacity: 0.7;
                width: 100%;
                height: 100%;
                z-index: 2;
                left: 0;
                color: white;
                padding-top: 35%;
                font-size: 30px;
                text-transform: uppercase;
              }
            }
          }
          img {
            width: auto;
            height: 421px;
          }
        }
      }
      .dotNav {
        display: none;
      }
    }
    &:nth-child(2) {
      width: 100% !important;
      max-width: 100% !important;
      @include diviBreakpoint(980) {
        padding-left: 20px;
      }
    }
    &:last-child {
      padding-top: 0;
    }
  }
}

.dark-mode {
  .wink-horizontal-projects-slider {
    background-color: $wink-black;
    .et_pb_ajax_pagination_container {
      &::-webkit-scrollbar-thumb {
        background: $wink-beige !important;
      }
    }
    .et_pb_button {
      color: $wink-beige;
    }
  }
}
