.et_pb_code_inner {
  #mc_embed_signup {
    form {
      padding: 0;
      .mc-field-group {
        padding-bottom: 30px;
        label {
          display: none;
        }
        input,
        textarea {
          padding: 0;
          background-color: $wink-black;
          border: 0;
          border-radius: 0;
          height: 50px;
          &::placeholder {
            color: $wink-beige;
          }
        }
      }
      .clear.arrow {
        cursor: pointer;
        &::after {
          font-family: ETmodules;
          font-size: 30px;
          color: $wink-black;
          content: '\24';
          position: relative;
          top: 7px;
          margin-left: 10px;
          opacity: 1;
        }
        #mc-embedded-subscribe {
          cursor: pointer;
          margin: 0;
          background-color: transparent;
          border: 0;
          color: $wink-black;
          font-size: 18px;
          text-transform: uppercase;
          display: inline-block;
        }
      }
    }
  }
}

.dark-mode {
  .et_pb_code_inner {
    #mc_embed_signup {
      form {
        .mc-field-group {
          input,
          textarea {
            background-color: $wink-beige;
            &::placeholder {
              color: $wink-black;
            }
          }
        }
        .clear.arrow {
          cursor: pointer;
          &::after {
            color: $wink-beige;
          }
          #mc-embedded-subscribe {
            color: $wink-beige;
          }
        }
      }
    }
  }
}
