.et_pb_section.wink-teaser-title-text {
  @include diviBreakpoint(980) {
    margin-bottom: 40px;
  }
  .et_pb_row_1 {
    @include diviBreakpoint(980) {
      padding-top: 0;
      padding-bottom: 0;
    }
    .et_pb_column_1 {
      .et_pb_image {
        .et_pb_image_wrap {
          img {
            transform: rotate(8deg);
            @include diviBreakpoint(980) {
              width: 120px;
            }
          }
        }
      }
    }
  }
  .et_pb_row_2 {
    @include diviBreakpoint(980) {
      padding-bottom: 0;
    }
    .et_pb_column_2 {
      .et_pb_image {
        .et_pb_image_wrap {
          left: -80px;
          @include diviBreakpoint(980) {
            left: -10px;
          }
          img {
            @include diviBreakpoint(980) {
              width: 120px;
            }
          }
        }
      }
    }
  }
  .et_pb_row_3 {
    @include diviBreakpoint(980) {
      padding-top: 0;
    }
  }

  @include winkButton();
  .small-txt {
    p {
      font-size: 20px;
    }
  }
}

.dark-mode {
  .et_pb_button {
    color: $wink-beige;
  }
}
